<nav class="navbar is-fixed-top">
	<div class="navbar-brand">
		<a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample" (click)="toggleNavbar()">
			<span aria-hidden="true"></span>
			<span aria-hidden="true"></span>
			<span aria-hidden="true"></span>
		</a>
	</div>
	<div id="navMenu" class="navbar-menu" [class.is-active]="navbarOpen">
		<div class="navbar-start">
			<a class="navbar-item" href="./">
				Home	
			</a>
			<a class="navbar-item"  (click)="useAnchorLink('#education')">
				Education	
			</a>
			<a class="navbar-item" (click)="useAnchorLink('#experience')">
				Experience	
			</a>
			<a class="navbar-item" (click)="useAnchorLink('#projects')">
				Projects	
			</a>
			<a class="navbar-item" (click)="useAnchorLink('#about')">
				About Me	
			</a>
		</div>
		<div class="navbar-end">
			<div class="navbar-item">
				<div class="buttons">
					<a class="button is-dark" href="https://github.com/radonc0de" target="_blank">
						Github
					</a>
				</div>
			</div>
			<div class="navbar-item">
				<div class="buttons">
					<a class="button is-link" href="{{linkedinLink}}" target="_blank">
						LinkedIn	
					</a>
				</div>
			</div>
			<div class="navbar-item">
				<div class="buttons">
					<a class="button is-success" href="{{resumeLink}}" target="_blank">
						Résumé
					</a>
				</div>
			</div>
		</div>
	</div>
</nav>