<section id="experience" class="hero is-warning is-fullheight">
	<div class="hero-body">
		<nav class="panel">
			<p class="panel-heading">
				Experience
			</p>
			<div class="panel-block" style="background-color: white">
				<div class="tile is-ancestor">
					<div class="tile is-vertical">


						<div class="tile">
							<div class="box">
								<article class="media">
									<figure class="media-left">
										<p class="image is-128x128">
											<img src="https://cdn.builtinchicago.org/cdn-cgi/image/fit=scale-down,sharpen=0.3,f=auto,q=100,w=170,h=170/sites/www.builtinchicago.org/files/2021-05/JumpTrading_logo_LinkedIn_onWHT.png">
										</p>
									</figure>
									<div class="media-content">
										<div class="content">
											<p>
												<strong>Jump Trading</strong>
												&nbsp;
												<small>TechOps Intern</small>
												<br>
												<small>Chicago, IL</small>
												&nbsp;
												<small>(Incoming June 2024)</small>
												<br>
											</p>
											<p>
												Looking forward to starting in June!
											</p>
										</div>
									</div>
								</article>
							</div>
						</div>

						<div class="tile">
							<div class="box">
								<article class="media">
									<figure class="media-left">
										<p class="image is-128x128">
											<img src="https://pluspng.com/img-png/amazon-logo-vector-png-amazon-logo-amazon-logo-1659.png">
										</p>
									</figure>
									<div class="media-content">
										<div class="content">
											<p>
												<strong>Amazon</strong>
												&nbsp;
												<small>Software Development Intern</small>
												<br>
												<small>Bellevue, WA</small>
												&nbsp;
												<small>(Jun 2023 - Sep 2023)</small>
												<br>
											</p>
											<p>
												Developed a full-stack application and integrated with Amazon Alexa Production environment.
												<br>
												<br>
												<img src="https://img.shields.io/badge/-React-61DAFB?style=for-the-badge&logo=React&logoColor=black" alt="React">
												<img src="https://img.shields.io/badge/-AntD-0170FE?style=for-the-badge&logo=antdesign&logoColor=white" alt="AntD">
												<img src="https://img.shields.io/badge/-Java-437291?style=for-the-badge&logo=openjdk&logoColor=white" alt="Java">
												<img src="https://img.shields.io/badge/-AWS Lambda-FF9900?style=for-the-badge&logo=awslambda&logoColor=black" alt="AWS Lambda">
												<img src="https://img.shields.io/badge/-DynamoDB-4053D6?style=for-the-badge&logo=amazondynamodb&logoColor=white" alt="DynamoDB">
											</p>
										</div>
									</div>
								</article>
							</div>
						</div>
						<div class="tile">
							<div class="box">
								<article class="media">
									<figure class="media-left">
										<p class="image is-128x128">
											<img src="https://media.licdn.com/dms/image/C4E0BAQF9KOuHM44sxw/company-logo_200_200/0/1519856546392?e=2147483647&v=beta&t=l1nNtv6Bo-qr0j9hHDPysfiCBDcDYdOz169c1YaVfSY">
										</p>
									</figure>
									<div class="media-content">
										<div class="content">
											<p>
												<strong>Langan Engineering</strong>
												&nbsp;
												<small>Software Development Intern</small>
												<br>
												<small>Parsippany, NJ</small>
												&nbsp;
												<small>(Jan 2021 - Present)</small>
												<br>
											</p>
											<p>
												Designed and updated multiple internal and external full stack applications. 
												<br>
												<br>
												<img src="https://img.shields.io/badge/-Angular-0F0F11?style=for-the-badge&logo=Angular" alt="Angular">
												<img src="https://img.shields.io/badge/-Bootstrap-7952B3?style=for-the-badge&logo=bootstrap&logoColor=white" alt="PostgreSQL">
												<img src="https://img.shields.io/badge/-C%23-512BD4?style=for-the-badge&logo=C%23" alt="C#">
												<img src="https://img.shields.io/badge/-Microsoft SQL-CC2927?style=for-the-badge&logo=microsoftsqlserver&logoColor=black" alt="Microsoft SQL">
												<img src="https://img.shields.io/badge/-.NET-512BD4?style=for-the-badge&logo=.NET" alt=".NET">
											</p>
										</div>
									</div>
								</article>
							</div>
						</div>

					</div>
				</div>
			</div>
		</nav>
	</div>
</section>