<section id="about" class="hero is-link is-fullheight">
	<div class="hero-body">
		<nav class="panel">
			<p class="panel-heading">
				About Me
			</p>
			<div class="panel-block" style="background-color: white">
				<p class="control has-icons-left" >
					<strong>Contact Info:</strong>
					<br>
					<br>
					Email: keithlehman@proton.me
					<br>
					Phone: (732)-844-9052
					<br>
					Location: Greater NYC Area
					<br>
				</p>
			</div>
			<div class="panel-block" style="background-color: white">
				<p class="control has-icons-left" >
					My name is Keith Lehman. I am currently wrapping up my degree in Computer Engineering at Rutgers University. I have been thoroughly interested in the study of computers for years, using projects as my way of learning any new technology I'm interested in learning. I've built multiple applications, began writing an Operating System, am constantly modifying my ArchLinux/i3wm install, and am maintaining my own homelab (which is hosting this site!).
					<br>
					<br>
					Outside of computer science, you can usually find me building something, enjoying music, working on cars, hiking, running, cooking, reading, or at the gym.
				</p>
			</div>
		</nav>
	</div>
</section>