<section id="education" class="hero is-danger is-fullheight">
	<div class="hero-body">


		<nav class="panel">
			<p class="panel-heading">
				Education
			</p>
			<div class="panel-block" style="background-color: white">
				<div class="tile is-ancestor">
					<div class="tile is-vertical">
						<div class="tile">
							<div class="box">
								<article class="media">
									<figure class="media-left">
										<p class="image is-128x128">
											<img src="https://logodix.com/logo/951515.png">
										</p>
									</figure>
									<div class="media-content">
										<div class="content">
											<p>
												<strong>Rutgers University</strong>
												&nbsp;
												<small>Computer Engineering</small>
												<br>
												<small>New Brunswick, NJ</small>
												&nbsp;
												<small>(Sep 2020 - May 2024)</small>
												<br>
											</p>
											<p>
												Bachelor's of Science in Computer Engineering with a Minor in Computer Science. Scholar at Rutgers Honors College, made Dean's List multiple times. 
												Some relevant courses include: Systems Programming, Operating System Design, Distributed Systems, Network Centric Programming.

												<br>
												<br>
												<img src="https://img.shields.io/badge/-C-A8B9CC?style=for-the-badge&logo=C&logoColor=white" alt="C">
												<img src="https://img.shields.io/badge/-RISC V-283272?style=for-the-badge&logo=riscv&logoColor=white" alt="RISC-V">
												<img src="https://img.shields.io/badge/-Python-3776AB?style=for-the-badge&logo=python&logoColor=white" alt="Python">
												<img src="https://img.shields.io/badge/-Linux-FCC624?style=for-the-badge&logo=linux&logoColor=white" alt="Linux">
												<img src="https://img.shields.io/badge/-Verilog-00629B?style=for-the-badge&logo=ieee&logoColor=white" alt="Verilog">
												<img src="https://img.shields.io/badge/-Java-437291?style=for-the-badge&logo=openjdk&logoColor=white" alt="Java">
											</p>
										</div>
									</div>
								</article>
							</div>
						</div>
						<div class="tile">
							<div class="box">
								<article class="media">
									<figure class="media-left">
										<p class="image is-128x128">
											<img src="https://tapinto-production.s3.amazonaws.com/uploads/articles/gs/best_crop_f98dc48acea6b0c0db32_GSET_Logo.jpg?v=a0bd1c765d3028b1bfd1">
										</p>
									</figure>
									<div class="media-content">
										<div class="content">
											<p>
												<strong>New Jersey Governor's School of Engineering & Technology (NJGSET)</strong>
												&nbsp;
												<br>
												<small>Piscataway, NJ</small>
												&nbsp;
												<small>(Jun 2019 - Jul 2019)</small>
												<br>
											</p>
											<p>
												Worked within a research team to develop a smart water bottle capable of monitoring the cleanliness and safety of drinking water. <a href="https://ieeexplore.ieee.org/document/9660506" target="_blank" class="has-text-link">Resulting project research
												paper</a> was accepted to the 2019 MIT IEEE Conference.
												<br>
												<br>
												<img src="https://img.shields.io/badge/-Arduino-00878F?style=for-the-badge&logo=arduino&logoColor=white" alt="Arduino">
												<img src="https://img.shields.io/badge/-LTspice-900028?style=for-the-badge&logo=ltspice&logoColor=white" alt="LTspice">
												<img src="https://img.shields.io/badge/-SolidWorks-005386?style=for-the-badge&logo=dassaultsystemes&logoColor=white" alt="SolidWorks">
											</p>
										</div>
									</div>
								</article>
							</div>
						</div>
					</div>
				</div>
			</div>
		</nav>
	</div>
</section>